<h1>Edit Picture</h1>

<nav>
  <%= link_to "Cancel", "http://localhost:3000/pictures/#{@picture.id}" %>
</nav>

<%= form_tag "/pictures/#{@picture.id}", :method => 'put' do %>
  <%= text_field_tag :source, @picture.source %>
  <%= text_field_tag :caption, @picture.caption %>
  <%= submit_tag %>
<% end %>
