<h1>List of Pictures</h1>

<ul>
  <% @pictures.each do |picture| %>
    <li>
      <%= image_tag picture.source, width: 240 %>
      <img src="<%= picture.source %>" width="240">
      <p><%= picture.caption %></p>
      <p>
        <%= link_to "Show", "http://localhost:3000/pictures/#{picture.id}" %>
        <%= link_to "Edit", "http://localhost:3000/pictures/#{picture.id}/edit" %>
        <%= link_to "Delete", "http://localhost:3000/pictures/#{picture.id}", :method => 'delete' %>
      </p>
    </li>
  <% end %>
</ul>
