<h1>Add A New Picture</h1>

<nav>
  <%= link_to "Cancel", pictures_url %>
</nav>

<%= form_for @picture do |f| %>
  <%= f.text_field :source %>
  <%= f.text_field :caption %>
  <%= f.submit %>
<% end %>
