<h1>Picture Details #<%= @picture.id %></h1>

<nav>
  <%= link_to "Edit", edit_picture_url(@picture) %>
  <%= link_to "Back", pictures_url %>
</nav>

<%= image_tag @picture.source, width: 240 %>
<p><%= @picture.source %></p>
<p><%= @picture.caption %></p>
